extends layout

block content
  h1= title
  form(method='post')
    p
      label login
      input(type='text' name='login')
    p
       label password
       input(type='password' name='password')
    p
       input(type='submit' value='zaloguj')